# Gradle
.gradle/

# IntelliJ IDEA
.idea/
**/*.iml

# Android
**/build/
**/gen/
**/obj/
local.properties

Meatspace/src/main/res/values/keys.xml
Meatspace/src/main/java/com/romainpiel/lib/utils/ApiKeyGenerator.java
Meatspace/meatspace.keystore